.gradle
.idea
out
build
.idea
.vscode
node_modules
src/main/resources/static/app/*.js
src/main/resources/static/app/*.map
src/main/resources/static/app/**/*.js
./src/main/resources/static/app/**/*.map
