<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<input type="checkbox" [(ngModel)]="includePeople" (ngModelChange)="updateList()" />Show people<br/>
<input type="checkbox" [(ngModel)]="includeCompanies" (ngModelChange)="updateList()" />Show companies<br/>
<table>
    <tr *ngFor="let entity of entities" [routerLink]="['/', entity.email]">
        <td>{{entity.email}}</td>
        <td>{{entity.name}}</td>
        <td>{{entity.surname}}</td>
    </tr>
</table>
<button (click)="loadNextPage()">Load more</button>