<button (click)="goBack()">Back</button>

<p *ngIf="errorMessage">{{errorMessage}}</p>

<div *ngIf="user">
    <div *ngIf="displayPersonInformation">
        <label>Name: </label><span>{{user.name}}</span><br>
        <label>Surname: </label><span>{{user.surname}}</span>
    </div>

    <div *ngIf="displayCompanyInformation">
        <label>Name: </label><span>{{user.name}}</span><br>
        <label>Description: </label><span>{{user.description}}</span>
        <label>Rating: </label><span>{{user.rating}}</span>
    </div>

    <label>Profile created: </label><span>{{user.creationDate}}</span><br>
    <label>Last modified: </label><span>{{user.modificationDate}}</span>


    <h2>Phones</h2>
    <button type="button" (click)="editPhones = !editPhones">Edit</button>
    <table>
        <tr>
            <th>Phone</th>
            <th>Description</th>
        </tr>
        <tr *ngFor="let phone of phones">
            <td>{{phone.number}}</td>
            <td>{{phone.comment}}</td>
            <td *ngIf="editPhones"><button (click)="removePhone(phone)">Remove</button></td>
        </tr>
        <tr *ngFor="let phone of newPhones">
            <td *ngIf="editPhones"><input type="tel" [(ngModel)]="phone.number" placeholder="phone number" /></td>
            <td *ngIf="editPhones"><input type="tel" [(ngModel)]="phone.comment" placeholder="comment" /></td>
        </tr>
        <tr *ngIf="editPhones">
            <td colspan="2"><button type="button" (click)="addNewPhoneInput()">Add new</button></td>
        </tr>
        <tr *ngIf="editPhones">
            <td colspan="2"><button type="button" (click)="saveNewPhones()">Save changes</button></td>
        </tr>
    </table>

    <h2>Emails</h2>
    <button type="button" (click)="editEmails = !editEmails">Edit</button>
    <table>
        <tr>
            <th>Email</th>
            <th>Description</th>
        </tr>
        <tr *ngFor="let email of emails">
            <td>{{email.email}}</td>
            <td>{{email.comment}}</td>
            <td *ngIf="editEmails"><button (click)="removeEmail(email)">Remove</button></td>
        </tr>
        <tr *ngFor="let email of newEmails">
            <td *ngIf="editEmails"><input type="email" [(ngModel)]="email.email" placeholder="email" /></td>
            <td *ngIf="editEmails"><input type="email" [(ngModel)]="email.comment" placeholder="comment" /></td>
        </tr>
        <tr *ngIf="editEmails">
            <td colspan="2"><button type="button" (click)="addNewEmailInput()">Add new</button></td>
        </tr>
        <tr *ngIf="editEmails">
            <td colspan="2"><button type="button" (click)="saveNewEmails()">Save changes</button></td>
        </tr>
    </table>

    <h2>Addresses</h2>
    <button type="button" (click)="editAddresses = !editAddresses">Edit</button>
    <table>
        <tr>
            <th>Address</th>
            <th>Description</th>
        </tr>
        <tr *ngFor="let address of addresses">
            <td>{{address.address}}</td>
            <td>{{address.comment}}</td>
            <td *ngIf="editAddresses"><button (click)="removeAddress(address)">Remove</button></td>
        </tr>
        <tr *ngFor="let address of newAddresses">
            <td *ngIf="editAddresses"><input type="address" [(ngModel)]="address.address" placeholder="address" /></td>
            <td *ngIf="editAddresses"><input type="address" [(ngModel)]="address.comment" placeholder="comment" /></td>
        </tr>
        <tr *ngIf="editAddresses">
            <td colspan="2"><button type="button" (click)="addNewAddressInput()">Add new</button></td>
        </tr>
        <tr *ngIf="editAddresses">
            <td colspan="2"><button type="button" (click)="saveNewAddresses()">Save changes</button></td>
        </tr>
    </table>

</div>